:root{
  /*Colors*/
  --header-background: #674fbd;
  --header-links: #a8c49c;
  --body-background: #ad9458;
  --header-text: #eed2da;
  --footer-color: #808080;
  --links: #fbf9df;

}

* {
    font-family: "MS Sans Serif";
    src: url('media/fonts/ms_sans_serif.woff') format("woff");
    src: url('media/fonts/ms_sans_serif.woff2') format("woff2");
    /*cursor: url("media/images/cursor.png"), auto;*/
    padding: 0.1em;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30em;
    height: auto;
    margin:auto;
    border:0.5em solid var(--header-background);
    border-radius: 1em;
  }
  
  body {
    /*background-color: #100;*/
    background-image: url("../images/cliff_grey_14.png");
  }

  .logo_container {
    color: var(--header-links);
    float: left;
  }
  
  header {
    background-color: var(--header-background);
    float: up;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin: 1em 2;
    border-radius: 5px;
    outline-style:solid;
    outline-color:var(--header-links);
    outline-width: 5px;
  }

  header h1{
    align-self: stretch;
    color: var(--header-text);
    float: left;
  }
  .flex_container div{
    color: var(--header-text);
    float: right;
  }
  header a{
    color: var(--header-links);
  }
  
  h1, p, label{
    color: white;
  }
  
  section {
    background-color: var(--body-background);
  outline-style: solid;
  padding: 1em;
  margin: 1rem 5rem;
  border-radius: 5px;
  color: white;
  min-height: fit-content;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  }
  
  .spot{
    padding: 1em;
  }


  li {
    list-style: square;
    margin-left: 2em;
  }

  button {
    background-color:aliceblue;
    color: black;
    border-radius: 5px;
  }
  
  
  table {
    border-collapse: collapse;
    width: 100%;
    color:black;
    background-color: var(--header-text);
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: var(--header-links);}
  /*tr:nth-child(odd) {background-color: var(--header-text);}*/

  .playerscore{
    border-collapse: collapse;
    width: 100%;
    color:black;
    background-color: white;
  }

  .footer {
    background-color: gray;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:5%;
    color:white;

    font-style: italic;
    text-align:justify;
  }

  a{
    color:var(--links);
  }

  .card{
    background-color:white;
    border:0.25em solid black;
    border-radius: 1em;
    float:left;
    width:5em;
    height:10em;
    margin: 1em;
    align-self: right;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*font-size: large;*/
  }

  .card-container{
    background-color: white;
    border:1em solid var(--header-background);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .fly-in {
    animation: fly-from-left 1s ease-out;
  }
  
  @keyframes fly-from-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  